services:
  prometheus-test:
    image: prom/prometheus
    container_name: prometheus-test
    restart: unless-stopped
    ports:
      - "127.0.0.1:9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - monitor-net

  # Add the ready-made Prometheus example app
  example-app:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
      - "443:443"
    networks:
      - monitor-net

volumes:
  prometheus_data:

networks:
  monitor-net:
    driver: bridge
